.Grid {
  display: flex;
  flex-flow: row wrap;
  margin-left: -0.5em;
  margin-top: -2em;
  padding: 0 1%;
}

.Grid > * {
  flex-basis: 14em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 2em;
  margin-left: 0.5em;
}
