.App-title {
  display: inline-block;
  font-family: "SignPainter", "American Typewriter", "Courier New", monospace;
  font-weight: lighter;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: rotate(-10deg);
  position: absolute;
  top: 0.5em;
}

.App-lead {
  margin: 6em auto 3em;
  max-width: 20em;
  width: 70%;
}

.App-main {
  width: 94%;
  max-width: 32em;
  margin: 0 auto;
}

main > * {
  display: none;
}

main > *:last-child, main > *:target {
  display: block;
}

main > *:target ~ * {
  display: none;
}

