.App-title {
  display: inline-block;
  font-family: "SignPainter", "American Typewriter", "Courier New", sans-serif;
  font-weight: lighter;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: rotate(-10deg);
  position: absolute;
  top: 0.5em;
}

.App-lead {
  margin: 6em auto 4em;
  max-width: 20em;
}

.App-main {
  width: 94%;
  max-width: 800px;
  margin: 0 auto;
}
