.Box {
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
}

.Box-title {
  background-color: #380036;
  color: white;
  margin-bottom: 1em;
  padding: 1em 0.5em;
}
